<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhlpaket>
                <version>2.2.1</version>
                <model>Dhl\Paket\Model\Carrier\Paket</model>
                <is_online>1</is_online>
                <max_package_weight>1000</max_package_weight>

                <!-- Default elements -->
                <active>0</active>
                <title>DHL Paket</title>
                <sort_order>0</sort_order>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
            </dhlpaket>
        </carriers>

        <dhlshippingsolutions>
            <dhlpaket>
                <general_shipping_settings>
                    <cut_off_times backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                        <![CDATA[
                            {
                                "_1611063508787_787":{"day":"1","time":"16:00"},
                                "_1611063650779_779":{"day":"2","time":"16:00"},
                                "_1611063651359_359":{"day":"3","time":"16:00"},
                                "_1611063651867_867":{"day":"4","time":"16:00"},
                                "_1611063659380_380":{"day":"5","time":"16:00"}
                            }
                        ]]>
                    </cut_off_times>
                    <logging_group>
                        <loglevel>400</loglevel>
                    </logging_group>
                </general_shipping_settings>

                <account_settings>
                    <sandboxmode_group>
                        <api_password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>

                        <account_participations backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                            <![CDATA[
                                {
                                    "_1485789382230_230":{"procedure":"01","participation":"01"},
                                    "_1508418821593_593":{"procedure":"62","participation":"01"},
                                    "_1485789931170_170":{"procedure":"53","participation":"01"},
                                    "_1485789933729_729":{"procedure":"07","participation":"01"}
                                }
                            ]]>
                        </account_participations>
                    </sandboxmode_group>

                    <auth_username>M2_SHIPPING_1</auth_username>
                    <auth_password>pMnRHKfNMw9O3qKMLAUhFT4cBbwotp</auth_password>

                    <!-- Sandbox -->
                    <sandboxmode>1</sandboxmode>
                    <sandbox_auth_username>magento_1</sandbox_auth_username>
                    <sandbox_auth_password>2de26b775e59279464d1c2f8546432e62413372421c672db36eaacfc2f</sandbox_auth_password>
                    <sandbox_username>2222222222_01</sandbox_username>
                    <sandbox_password>pass</sandbox_password>
                    <sandbox_account_number>2222222222</sandbox_account_number>
                    <sandbox_account_participations backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                        <![CDATA[
                            {
                                "_1485789382230_230":{"procedure":"01","participation":"04"},
                                "_1508418821593_593":{"procedure":"62","participation":"01"},
                                "_1485789931170_170":{"procedure":"53","participation":"01"},
                                "_1485789933729_729":{"procedure":"07","participation":"01"}
                            }
                        ]]>
                    </sandbox_account_participations>
                    <account_participations backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized"/>
                </account_settings>

                <shipment_defaults>
                    <print_only_if_codeable>1</print_only_if_codeable>
                    <shipping_products backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                        <![CDATA[
                            {
                                "_1585932705668_668":{"route":"DE-DE","product":"V01PAK"},
                                "_1585932706260_260":{"route":"DE-EU","product":"V53WPAK"},
                                "_1585933761852_852":{"route":"DE-INTL","product":"V53WPAK"}
                            }
                        ]]>
                    </shipping_products>
                    <customs>
                        <reference_numbers backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">[]</reference_numbers>
                    </customs>
                    <services>
                        <visual_check_of_age>A00</visual_check_of_age>
                        <premium>0</premium>
                        <additional_insurance>0</additional_insurance>
                        <bulky_goods>0</bulky_goods>
                        <parcel_outlet>0</parcel_outlet>
                        <return_shipment>0</return_shipment>
                        <return_shipment_receiver>
                            <country_id>DE</country_id>
                        </return_shipment_receiver>
                    </services>
                </shipment_defaults>

                <additional_services>
                    <parcelannouncement>0</parcelannouncement>
                    <deliverylocation>0</deliverylocation>
                    <preferredlocation>0</preferredlocation>
                    <preferredneighbour>0</preferredneighbour>
                    <preferredday>0</preferredday>
                    <preferredday_charge>0.99</preferredday_charge>
                </additional_services>
            </dhlpaket>
        </dhlshippingsolutions>
    </default>
</config>
