<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhlecommerce>
                <version>0.1.0</version>
                <model>Dhl\Paket\Model\Carrier\Paket</model>
                <active>0</active>
                <title>DHL Paket</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
            </dhlecommerce>
        </carriers>
    </default>
</config>
