<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- # interface preferences -->
    <preference for="Dhl\Paket\Webservice\Processor\OperationProcessorInterface" type="Dhl\Paket\Webservice\Processor\LabelStatusProcessor"/>
    <preference for="Dhl\Paket\Model\ShippingProducts\ShippingProductsInterface" type="Dhl\Paket\Model\ShippingProducts\ShippingProducts"/>

    <!-- # sdk preferences -->
    <preference for="Dhl\Sdk\Paket\Bcs\Api\ShipmentOrderRequestBuilderInterface" type="Dhl\Sdk\Paket\Bcs\RequestBuilder\ShipmentOrderRequestBuilder"/>
    <preference for="Dhl\Sdk\Paket\Bcs\Api\ServiceFactoryInterface" type="Dhl\Sdk\Paket\Bcs\Service\ServiceFactory"/>
    <preference for="Dhl\Sdk\Paket\Bcs\Api\Data\AuthenticationStorageInterface" type="Dhl\Sdk\Paket\Bcs\Auth\AuthenticationStorage" />

    <!-- # virtual types -->
    <virtualType name="Dhl\Paket\Model\Logger\Handler\Virtual" type="Dhl\ShippingCore\Model\Log\ApiLogHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/dhl_paket.log</argument>
            <argument name="logEnabledConfigPath" xsi:type="const">Dhl\Paket\Model\Config\ModuleConfig::CONFIG_PATH_ENABLE_LOGGING</argument>
            <argument name="logLevelConfigPath" xsi:type="const">Dhl\Paket\Model\Config\ModuleConfig::CONFIG_PATH_LOGLEVEL</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Model\Logger\Virtual" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="const">Dhl\Paket\Model\Carrier\Paket::CARRIER_CODE</argument>
            <argument name="handlers" xsi:type="array">
                <item name="apilog" xsi:type="object">Dhl\Paket\Model\Logger\Handler\Virtual</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Model\BulkShipmentManagement\Virtual" type="Dhl\Paket\Model\ShipmentManagement">
        <arguments>
            <argument name="creationProcessor" xsi:type="object">Dhl\ShippingCore\Webservice\Processor\BulkShipmentResponseProcessor\Virtual</argument>
        </arguments>
    </virtualType>

    <!-- # argument di overrides -->
    <type name="Dhl\Paket\Model\Carrier\Paket">
        <arguments>
            <argument name="shipmentManagement" xsi:type="object">Dhl\Paket\Model\ShipmentManagement\Proxy</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Model\ShipmentManagement">
        <arguments>
            <argument name="logger" xsi:type="object">Dhl\Paket\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Model\BulkShipmentConfiguration">
        <arguments>
            <argument name="shipmentManagement" xsi:type="object">Dhl\Paket\Model\BulkShipmentManagement\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Webservice\Processor\DeleteShipmentsProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="updateLabelStatus" xsi:type="object">Dhl\Paket\Webservice\Processor\DeleteShipments\UpdateLabelStatus</item>
                <item name="deleteTrack" xsi:type="object">Dhl\Paket\Webservice\Processor\DeleteShipments\DeleteTrack</item>
                <item name="unsetShippingLabel" xsi:type="object">Dhl\Paket\Webservice\Processor\DeleteShipments\UnsetShippingLabel</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\BulkShipmentManagement">
        <arguments>
            <argument name="configurations" xsi:type="array">
                <item name="dhlpaket" xsi:type="object">Dhl\Paket\Model\BulkShipmentConfiguration</item>
            </argument>
        </arguments>
    </type>
    <type name="\Dhl\ShippingCore\Model\Checkout\CheckoutDataCompositeProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="dhlpaketServiceDataFilterprocessor" xsi:type="object">Dhl\Paket\Model\Checkout\DataProcessor\ServiceDataFilterProcessor</item>
                <item name="dhlpaketDateTimeOptionsProcessor" xsi:type="object">Dhl\Paket\Model\Checkout\DataProcessor\PreferredDayTimeOptionsProcessor</item>
                <item name="dhlpaketParcelStationOptionsProcessor" xsi:type="object">Dhl\Paket\Model\Checkout\DataProcessor\ParcelStationOptionsProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\LabelStatus\LabelStatusManagement">
        <arguments>
            <argument name="carrierCodes" xsi:type="array">
                <item name="dhlpaket" xsi:type="const">Dhl\Paket\Model\Carrier\Paket::CARRIER_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Observer\DisableCodPaymentMethods">
        <arguments>
            <argument name="codSupportMap" xsi:type="array">
                <item name="dhlpaket" xsi:type="object">Dhl\Paket\Model\Carrier\CodSupportHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Observer\SplitAddress">
        <arguments>
            <argument name="carrierCodes" xsi:type="array">
                <item name="dhlpaket" xsi:type="const">Dhl\Paket\Model\Carrier\Paket::CARRIER_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\Packaging\PackagingDataCompositeProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="dhlpaketConfigProcessor" sortOrder="10" xsi:type="object">Dhl\Paket\Model\Packaging\DataProcessor\ConfigProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
