<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Shipment classes -->
    <preference for="Dhl\Paket\Model\ShippingProducts\ShippingProductsInterface" type="Dhl\Paket\Model\ShippingProducts\ShippingProducts"/>

    <!-- SDK preferences -->
    <preference for="Dhl\Sdk\Paket\Bcs\Api\ShipmentOrderRequestBuilderInterface" type="Dhl\Sdk\Paket\Bcs\RequestBuilder\ShipmentOrderRequestBuilder"/>
    <preference for="Dhl\Sdk\Paket\Bcs\Api\ServiceFactoryInterface" type="Dhl\Sdk\Paket\Bcs\Service\ServiceFactory"/>
    <preference for="Dhl\Sdk\Paket\Bcs\Api\Data\AuthenticationStorageInterface" type="Dhl\Sdk\Paket\Bcs\Auth\AuthenticationStorage" />

    <!-- virtual types -->
    <virtualType name="Dhl\Paket\Model\Logger\Handler\Virtual" type="Dhl\ShippingCore\Model\Log\ApiLogHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/dhl_paket.log</argument>
            <argument name="logEnabledConfigPath" xsi:type="const">
                \Dhl\Paket\Model\Config\ModuleConfig::CONFIG_PATH_ENABLE_LOGGING
            </argument>
            <argument name="logLevelConfigPath" xsi:type="const">
                \Dhl\Paket\Model\Config\ModuleConfig::CONFIG_PATH_LOGLEVEL
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Dhl\Paket\Model\Logger\Virtual" type="Monolog\Logger">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="apilog" xsi:type="object">Dhl\Paket\Model\Logger\Handler\Virtual</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Argument overrides -->
    <type name="Dhl\Paket\Model\Carrier\Paket">
        <arguments>
            <argument name="logger" xsi:type="object">Dhl\Paket\Model\Logger\Virtual</argument>
        </arguments>
    </type>
</config>
