<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- # interface preferences -->
    <preference for="Dhl\Paket\Webservice\Processor\OperationProcessorInterface" type="Dhl\Paket\Webservice\Processor\LabelStatusProcessor"/>

    <!-- # sdk preferences -->
    <preference for="Dhl\Sdk\Paket\Bcs\Api\ShipmentOrderRequestBuilderInterface" type="Dhl\Sdk\Paket\Bcs\RequestBuilder\ShipmentOrderRequestBuilder"/>
    <preference for="Dhl\Sdk\Paket\Bcs\Api\ServiceFactoryInterface" type="Dhl\Sdk\Paket\Bcs\Service\ServiceFactory"/>
    <preference for="Dhl\Sdk\Paket\ParcelManagement\Api\ServiceFactoryInterface" type="Dhl\Sdk\Paket\ParcelManagement\Service\ServiceFactory"/>
    <preference for="Dhl\Sdk\Paket\Bcs\Api\Data\AuthenticationStorageInterface" type="Dhl\Sdk\Paket\Bcs\Auth\AuthenticationStorage"/>

    <!-- # virtual types -->
    <virtualType name="Dhl\Paket\Model\BulkShipmentManagement\Virtual" type="Dhl\Paket\Model\ShipmentManagement">
        <arguments>
            <argument name="createResponseProcessor" xsi:type="object">Dhl\ShippingCore\Webservice\Pipeline\BulkShipment\CreateLabelResponseProcessor\Virtual</argument>
            <argument name="deleteResponseProcessor" xsi:type="object">Dhl\ShippingCore\Webservice\Pipeline\BulkShipment\CancelLabelResponseProcessor\Virtual</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Model\BulkShipmentManagement\Proxy\Virtual" type="Dhl\Paket\Model\ShipmentManagement\Proxy">
        <arguments>
            <argument name="instanceName" xsi:type="string">Dhl\Paket\Model\BulkShipmentManagement\Virtual</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Model\Logger\Handler\Virtual" type="Dhl\ShippingCore\Model\Log\ApiLogHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/dhl_paket.log</argument>
            <argument name="logEnabledConfigPath" xsi:type="const">Dhl\Paket\Model\Config\ModuleConfig::CONFIG_PATH_ENABLE_LOGGING</argument>
            <argument name="logLevelConfigPath" xsi:type="const">Dhl\Paket\Model\Config\ModuleConfig::CONFIG_PATH_LOGLEVEL</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Model\Logger\Virtual" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="const">Dhl\Paket\Model\Carrier\Paket::CARRIER_CODE</argument>
            <argument name="handlers" xsi:type="array">
                <item name="apilog" xsi:type="object">Dhl\Paket\Model\Logger\Handler\Virtual</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Webservice\Pipeline\Rate\RateResponseProcessor\Virtual" type="Dhl\ShippingCore\Webservice\Pipeline\Rate\RateResponseProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="carrierDetails" xsi:type="object">Dhl\ShippingCore\Webservice\Pipeline\Rate\ResponseProcessor\CarrierDetails</item>
                <item name="freeShipping" xsi:type="object">Dhl\ShippingCore\Webservice\Pipeline\Rate\ResponseProcessor\FreeShipping</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Model\Rate\Emulation\RateRequestService\Virtual" type="Dhl\ShippingCore\Model\Rate\Emulation\RateRequestService">
        <arguments>
            <argument name="responseProcessor" xsi:type="object">Dhl\Paket\Webservice\Pipeline\Rate\RateResponseProcessor\Virtual</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Webservice\Pipeline\CreateShipments\ArtifactsContainerFactory\Virtual" type="\Dhl\ShippingCore\Api\Data\Pipeline\ArtifactsContainerInterfaceFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Dhl\Paket\Webservice\Pipeline\CreateShipments\ArtifactsContainer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Webservice\Pipeline\Shipment\CreateShipmentsPipeline\Virtual" type="Dhl\ShippingCore\Webservice\Pipeline\Shipment\CreateShipmentsPipeline">
        <arguments>
            <argument name="stages" xsi:type="array">
                <item name="validate" sortOrder="100" xsi:type="object">Dhl\Paket\Webservice\Pipeline\CreateShipments\Stage\ValidateStage</item>
                <item name="mapRequest" sortOrder="200" xsi:type="object">Dhl\Paket\Webservice\Pipeline\CreateShipments\Stage\MapRequestStage</item>
                <item name="send" sortOrder="300" xsi:type="object">Dhl\Paket\Webservice\Pipeline\CreateShipments\Stage\SendRequestStage</item>
                <item name="mapResponse" sortOrder="400" xsi:type="object">Dhl\Paket\Webservice\Pipeline\CreateShipments\Stage\MapResponseStage</item>
            </argument>
            <argument name="artifactsContainerFactory" xsi:type="object">Dhl\Paket\Webservice\Pipeline\CreateShipments\ArtifactsContainerFactory\Virtual</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Webservice\Pipeline\DeleteShipments\ArtifactsContainerFactory\Virtual" type="\Dhl\ShippingCore\Api\Data\Pipeline\ArtifactsContainerInterfaceFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Dhl\Paket\Webservice\Pipeline\DeleteShipments\ArtifactsContainer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\Paket\Webservice\Pipeline\Shipment\DeleteShipmentsPipeline\Virtual" type="Dhl\ShippingCore\Webservice\Pipeline\Track\RequestTracksPipeline">
        <arguments>
            <argument name="stages" xsi:type="array">
                <item name="mapRequest" sortOrder="100" xsi:type="object">Dhl\Paket\Webservice\Pipeline\DeleteShipments\Stage\MapRequestStage</item>
                <item name="send" sortOrder="200" xsi:type="object">Dhl\Paket\Webservice\Pipeline\DeleteShipments\Stage\SendRequestStage</item>
                <item name="mapResponse" sortOrder="300" xsi:type="object">Dhl\Paket\Webservice\Pipeline\DeleteShipments\Stage\MapResponseStage</item>
            </argument>
            <argument name="artifactsContainerFactory" xsi:type="object">Dhl\Paket\Webservice\Pipeline\DeleteShipments\ArtifactsContainerFactory\Virtual</argument>
        </arguments>
    </virtualType>

    <!-- # argument di overrides -->
    <type name="Dhl\Paket\Model\Carrier\Paket">
        <arguments>
            <argument name="ratesManagement" xsi:type="object">Dhl\Paket\Model\RatesManagement\Proxy</argument>
            <argument name="shipmentManagement" xsi:type="object">Dhl\Paket\Model\ShipmentManagement\Proxy</argument>
            <argument name="trackingInfoProvider" xsi:type="object">Dhl\UnifiedTracking\Api\TrackingInfoProviderInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Model\RatesManagement">
        <arguments>
            <argument name="rateRequestService" xsi:type="object">Dhl\Paket\Model\Rate\Emulation\RateRequestService\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Model\ShipmentManagement">
        <arguments>
            <argument name="deleteResponseProcessor" xsi:type="object">Dhl\ShippingCore\Webservice\Pipeline\BulkShipment\CancelLabelResponseProcessor\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Model\BulkShipmentConfiguration">
        <arguments>
            <argument name="shipmentManagement" xsi:type="object">Dhl\Paket\Model\BulkShipmentManagement\Proxy\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Webservice\ApiGateway">
        <arguments>
            <argument name="creationPipeline" xsi:type="object">Dhl\Paket\Webservice\Pipeline\Shipment\CreateShipmentsPipeline\Virtual</argument>
            <argument name="deletionPipeline" xsi:type="object">Dhl\Paket\Webservice\Pipeline\Shipment\DeleteShipmentsPipeline\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Webservice\ShipmentService">
        <arguments>
            <argument name="logger" xsi:type="object">Dhl\Paket\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Webservice\ParcelManagementService">
        <arguments>
            <argument name="logger" xsi:type="object">Dhl\Paket\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\BulkShipmentConfiguration">
        <arguments>
            <argument name="configurations" xsi:type="array">
                <item name="dhlpaket" xsi:type="object">Dhl\Paket\Model\BulkShipmentConfiguration</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\LabelStatus\LabelStatusManagement">
        <arguments>
            <argument name="carrierCodes" xsi:type="array">
                <item name="dhlpaket" xsi:type="const">Dhl\Paket\Model\Carrier\Paket::CARRIER_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\Checkout\CheckoutDataCompositeProcessor">
        <arguments>
            <argument name="serviceOptionsProcessors" xsi:type="array">
                <item name="dhlpaketParcelManagementOptionsProcessor" sortOrder="100" xsi:type="object">Dhl\Paket\Model\Checkout\DataProcessor\ServiceOptions\ParcelManagementOptionsProcessor</item>
                <item name="dhlpaketAdditionalChargesProcessor" sortOrder="200" xsi:type="object">Dhl\Paket\Model\Checkout\DataProcessor\ServiceOptions\AdditionalChargesProcessor</item>
            </argument>
            <argument name="metadataProcessors" xsi:type="array">
                <item name="dhlpaketAdditionalChargesProcessor" sortOrder="200" xsi:type="object">Dhl\Paket\Model\Checkout\DataProcessor\Metadata\AdditionalChargesProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\Packaging\PackagingDataCompositeProcessor">
        <arguments>
            <argument name="packagingServiceOptionsProcessors" xsi:type="array">
                <item name="dhlPaketServiceInputProcessor" sortOrder="120" xsi:type="object">Dhl\Paket\Model\Packaging\DataProcessor\ServiceOptions\ServiceInputDataProcessor</item>
            </argument>
            <argument name="packagingPackageOptionsProcessors" xsi:type="array">
                <item name="dhlPaketPackageInputProcessor" sortOrder="220" xsi:type="object">Dhl\Paket\Model\Packaging\DataProcessor\PackageOptions\PackageInputDataProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\Support\PackagingPopup">
        <arguments>
            <argument name="supportMap" xsi:type="array">
                <item name="dhlpaket" xsi:type="const">Dhl\Paket\Model\Carrier\Paket::CARRIER_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Observer\DisableCodPaymentMethods">
        <arguments>
            <argument name="codSupportMap" xsi:type="array">
                <item name="dhlpaket" xsi:type="object">Dhl\Paket\Model\Carrier\CodSupportHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Observer\SplitAddress">
        <arguments>
            <argument name="carrierCodes" xsi:type="array">
                <item name="dhlpaket" xsi:type="const">Dhl\Paket\Model\Carrier\Paket::CARRIER_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\Paket\Model\Carrier\TrackingConfiguration">
        <arguments>
            <argument name="logger" xsi:type="object">Dhl\Paket\Model\Logger\Virtual</argument>
        </arguments>
    </type>
    <type name="Dhl\UnifiedTracking\Webservice\Pipeline\Stage\SendRequestStage">
        <arguments>
            <argument name="configurations" xsi:type="array">
                <item name="dhlpaket" xsi:type="object">Dhl\Paket\Model\Carrier\TrackingConfiguration</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\AdditionalFee\AdditionalFeeManagement">
        <arguments>
            <argument name="additionalFeeConfiguration" xsi:type="array">
                <item name="dhlpaket" xsi:type="object">Dhl\Paket\Model\AdditionalFeeConfiguration</item>
            </argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\ShipmentDate\ShipmentDate">
        <arguments>
            <argument name="dayValidators" xsi:type="array">
                <item name="dropOffDays" xsi:type="object">Dhl\Paket\Model\ShipmentDate\Validator\DropOffDays</item>
            </argument>
        </arguments>
    </type>

    <!-- config path type pools-->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="dhlshippingsolutions/dhlpaket/account_settings/sandboxmode_group/account_participations" xsi:type="string">1</item>
                <item name="dhlshippingsolutions/dhlpaket/account_settings/sandboxmode_group/api_username" xsi:type="string">1</item>
                <item name="dhlshippingsolutions/dhlpaket/account_settings/sandboxmode_group/api_password" xsi:type="string">1</item>
                <item name="dhlshippingsolutions/dhlpaket/account_settings/sandboxmode_group/account_number" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="dhlshippingsolutions/dhlpaket/general_shipping_settings/logging" xsi:type="string">1</item>
                <item name="dhlshippingsolutions/dhlpaket/general_shipping_settings/logging_group/loglevel" xsi:type="string">1</item>
                <item name="dhlshippingsolutions/dhlpaket/account_settings/sandboxmode" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\App\Config\Source\DumpConfigSourceAggregated">
        <plugin name="unsetPaketSandboxPaths" type="Dhl\Paket\Plugin\UnsetSandboxPaths"/>
    </type>
</config>
