<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_adminhtml_order_shipment_removeTrack">
        <observer name="dhl_paket_disallow_delete_track" instance="Dhl\Paket\Observer\PreventTrackDeletion"/>
    </event>
</config>
