.dhlpaket_default_product {
    border: 1px solid #b4b3b3;
    padding: @indent__m;

    .admin__field:last-child {
        margin: 0;
    }
    .admin__field-control {
        &.control {
            float: none;
            width: 100% !important;

            .input-wrap {
                margin: 0 0 @indent__s 0;
                &:extend(.clearfix);

                input {
                    margin: 0;
                    &:after {
                        width: 0;
                    }
                }
                label {
                    margin: 0 0 0 @indent__m*-.9;
                }
            }
        }
    }
}
