<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="dhlpaket" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label">
                <label>DHL Paket</label>

                <include path="Dhl_Paket::system/100_general_settings.xml"/>
                <include path="Dhl_Paket::system/200_dhl_paket_account.xml"/>
                <include path="Dhl_Paket::system/400_checkout_presentation.xml"/>
            </group>
        </section>
    </system>
</config>
