<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         columns="max"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="../../../../../dev/tests/integration/framework/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="false"
         failOnWarning="false"
         displayDetailsOnAllIssues="true"
>

    <source>
        <include>
            <directory suffix=".php">../../</directory>
        </include>
        <exclude>
            <directory>../../build/</directory>
            <directory>../../Test/</directory>
            <file>../../registration.php</file>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="DHL Paket Integration Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>
        <includePath>../../../../../dev/tests/integration/</includePath>
        <includePath>../../../../../dev/tests/integration/testsuite/</includePath>
        <ini name="date.timezone" value="Europe/Berlin"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
        <ini name="xdebug.mode" value="coverage"/>
        <ini name="memory_limit" value="2G"/>
        <const name="TESTS_INSTALL_CONFIG_FILE" value="etc/install-config-mysql.php"/>
        <const name="TESTS_POST_INSTALL_SETUP_COMMAND_CONFIG_FILE" value="etc/post-install-setup-command-config.php"/>
        <const name="TESTS_GLOBAL_CONFIG_FILE" value="etc/config-global.php"/>
        <const name="TESTS_GLOBAL_CONFIG_DIR" value="../../../app/etc"/>
        <const name="TESTS_CLEANUP" value="false"/>
        <const name="TESTS_MAGENTO_MODE" value="developer"/>
        <const name="TESTS_ERROR_LOG_LISTENER_LEVEL" value="1000"/>
    </php>
    <extensions>
        <bootstrap class="Magento\TestFramework\Event\Subscribers"/>
    </extensions>
</phpunit>
